<section class="intro">
  <div class="container">
    <h1>Ecological Momentary Assessment of University Students’ Health-Related Quality of Life using a Smartphone Application</h1>
  </div>
</section>

<section class="about">
  <div class="container">
    <h2>About</h2>
    <p>
      The World Health Organization (WHO) defines Health-Related Quality of Life (HRQOL) as one’s perception of their life position in relation to expectations, goals, standards and concerns (The WHOQOL Group, 1995). Measuring HRQOL may have clinical benefits including better patient outcomes (Velikova et al., 2004). Current practice conveys using various standardized and validated self-report questionnaires. On the other hand, retrospective self-reports may compromise the validity of data (Solhan, Trull, Jahng, & Wood, 2009). Real-time data using mobile applications for health (mHealth) can offer ecologically valid data, minimizing data entry barriers (Shiffman, Stone, & Hufford, 2008). Therefore, researchers and clinicians can have access to an Ecologically Momentary Assessment (EMA) of HRQOL data measured in real world conditions. In this context there is no evidence on the validity and usefulness of collecting HRQOL data using mHealth applications. This was recently set as a priority in an evidence workshop of the US National Institute of Health (Kumar et al., 2013). 

      The study’s primary research aim is to assess the reliability and validity of using an mHealth application for collecting real-time HRQOL data compared to retrospective assessment. The secondary aims are to assess the applications’ usefulness and feasibility, examine cultural differences of university students’ HRQOL and to assess factors (quality of sleep, social power) associated with real-time HRQOL. 
    </p>
  </div>
</section>

<section class="studies">
  <div class="container">
    <h2>Studies</h2>
    <h3>Primary aim</h3>
    <p>
      An Exploratory Factor Analysis will be used to assess the underlying structures of all the time points of measuring the real-time data. A Confirmatory Factor Analysis will be used to assess the content validity of real-time data based on the original questionnaire’s dimensions. The Cronbach alpha coefficients will be used to assess the real-time dimensions’ internal consistency (reliability). The correlation coefficients between the real-time and retrospective data will be used to assess the real time data’s convergent validity. 
    </p>
    <h3>Secondary aims</h3>
    <p>
      Regression modeling will be used to assess the real-time data concurrent and predictive validity. The two types of HRQOL assessment will be used as predictors and sleep quality as the outcome. Feasibility questions will be analyzed calculating percentages (close-ended questions) and using content analysis (open-ended questions). The association of HRQOL with social power, other socio-demographic characteristic, life events and mood will be assessed using a Structural Equation Modeling. 
    </p>
    <h3>Goals for dissemination</h3>
    <p>
      We will aim to disseminate the findings of the study to a wide audience ranging from academics, technicians and clinicians to psychology students. A methodology paper will be submitted the Journal of European Psychology Students (JEPS) and the findings will be submitted to peer-reviewed journals. We will also present the findings to several Conferences whereas the study website will be disseminating all the research group’s activities. 
    </p>
  </div>
</section>

<section class="team">

  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>Research Team</h2>
        <h3>Lorem ipsum dolor sit amet consectetur.</h3>
      </div>
    </div>
      <div class="row">
        <div class="col-md-4 col-sm-6 team-item">
          <a href="#teamModal1" class="team-link" data-toggle="modal">
            <div class="team-hover">
              <div class="team-hover-content">
                <i class="fa fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-responsive" src="<%= asset_path 'placeholder-user.png' %>" />
          </a>
          <div class="team-caption">
              <h4>First name and Surname</h4>
              <p class="text-muted">Lorem ipsum dolor sit amet consectetur.</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 team-item">
          <a href="#teamModal2" class="team-link" data-toggle="modal">
            <div class="team-hover">
              <div class="team-hover-content">
                <i class="fa fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-responsive" src="<%= asset_path 'placeholder-user.png' %>" />
          </a>
          <div class="team-caption">
              <h4>First name and Surname</h4>
              <p class="text-muted">Lorem ipsum dolor sit amet consectetur.</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 team-item">
          <a href="#teamModal2" class="team-link" data-toggle="modal">
            <div class="team-hover">
              <div class="team-hover-content">
                <i class="fa fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-responsive" src="<%= asset_path 'placeholder-user.png' %>" />
          </a>
          <div class="team-caption">
              <h4>First name and Surname</h4>
              <p class="text-muted">Lorem ipsum dolor sit amet consectetur.</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 team-item">
          <a href="#teamModal2" class="team-link" data-toggle="modal">
            <div class="team-hover">
              <div class="team-hover-content">
                <i class="fa fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-responsive" src="<%= asset_path 'placeholder-user.png' %>" />
          </a>
          <div class="team-caption">
              <h4>First name and Surname</h4>
              <p class="text-muted">Lorem ipsum dolor sit amet consectetur.</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 team-item">
          <a href="#teamModal2" class="team-link" data-toggle="modal">
            <div class="team-hover">
              <div class="team-hover-content">
                <i class="fa fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-responsive" src="<%= asset_path 'placeholder-user.png' %>" />
          </a>
          <div class="team-caption">
              <h4>First name and Surname</h4>
              <p class="text-muted">Lorem ipsum dolor sit amet consectetur.</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 team-item">
          <a href="#teamModal2" class="team-link" data-toggle="modal">
            <div class="team-hover">
              <div class="team-hover-content">
                <i class="fa fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-responsive" src="<%= asset_path 'placeholder-user.png' %>" />
          </a>
          <div class="team-caption">
              <h4>First name and Surname</h4>
              <p class="text-muted">Lorem ipsum dolor sit amet consectetur.</p>
          </div>
        </div>
      </div>
  </div>

</section>