<!DOCTYPE html>
<html>
<head>
  <title>ResearchProgram</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body data-spy="scroll" data-offset="165" data-target="#side-nav" data-target="#footer">
  <%= render :partial => 'layouts/header' %>

  <div class="main">
    <%= yield %>
  </div>

  <%= render :partial => 'layouts/footer/footer' %>
</body>
</html>
